@{
    ViewData["Title"] = "Index";
}

@{
    var plants = (List<Plant>)ViewData["Plants"]; // Cast the list
    var fields = (List<Field>)ViewData["Fields"]; // Cast the list
}

<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>

<h1> What a perfect day to plant some tomatoes!</h1>
<div class="grid">
    @{
        @foreach (var field in fields)
        {
            
            Plant plant = plants.Where(x => x.Id == field.PlantId).FirstOrDefault();
            <div class="grid__element" data-id="field_@(field.Id%100)" style="background-color: #@(field.PlantId!=0 ? plant.Colour : "392900")">
                <a asp-action="SowField" asp-controller="Game" asp-route-id=@field.Id> @(field.Id%100) </a>
            </div>
        }

    }
</div>

@*@{
    @foreach (var field in fields)
    {
        
        if (field.PlantId != 0){
            <p> @field.PlantId</p>
        }

    }
    foreach (Plant plant in plants)
    {

        <p> @plants.IndexOf(plant) - @plant.Id</p>

        <br />

    }
}*@


